antlr4-python3-runtime==4.9.1
blinker
catboost
click
colorama
contourpy
cycler
dill
Flask
fonttools
graphviz
gunicorn==19.7.1
hydra-core
importlib-metadata
importlib-resources
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
omegaconf
packaging
pandas
Pillow
plotly
pyparsing
python-dateutil
pytz
PyYAML
scikit-learn
scipy
seaborn
six
tenacity
threadpoolctl
tzdata
Werkzeug
xgboost
zipp
# -e .
